<div class="testonijaTest">
    <div class="inputContainer">
        <input type="text" id="promptInput" placeholder="Enter Prompt">
    </div>
    <div class="btnContainer">
        <div class="btn">
            <button id="ajaxButton">Send AJAX Request</button>
        </div>
    </div>
    <textarea id="responseTextArea" rows="10" cols="50" readonly></textarea>
</div>
